#spinner-container {
    #wheel #canvas {
            padding-left: 19.4vw;
            margin-bottom: -18vh;
            padding-top: 0;
            margin-top: 0;
    }
    .flat-button {
        color: #FED702;
        font: 600 1.4rem sans-serif;
        text-decoration: none;
        padding: 1rem 1.6rem;
        border: 0.15rem solid #FED702;
        border-radius: 0.3rem;
        white-space: nowrap;
        background-color: #1B2633;
        margin-bottom: 8vh;
      
        &:hover {
          background-color: #FED702;
          color: #333;
        }
    }
}